<h2>Editando evento</h2>
<form>
  <div class="well">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" id="nome" class="form-control" placeholder="Nome" ng-model="evento.nome">
    </div>
    <div class="form-group">
      <label for="valor_minimo">Valor Mínimo</label>
      <div class="input-group">
        <div class="input-group-addon">R$</div>
        <input type="text" id="valor_minimo" class="form-control" ui-number-mask placeholder="Valor Mínimo" ng-model="evento.valor_minimo">
      </div>
    </div>
    <div class="form-group">
      <label for="variacao">Variação</label>
      <div class="input-group">
        <div class="input-group-addon">%</div>
        <input type="text" id="variacao" class="form-control" ui-number-mask placeholder="Variação" ng-model="evento.variacao">
      </div>
    </div>

    <div class="form-group">
      <label for="data_limite">Data Limite</label>
      <div class="input-group">
        <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="evento.data_limite" is-open="opened" show-button-bar="false" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
    </div>
  </div>
  <a href="#/eventos/{{ evento._id }}" class="btn btn-default">Voltar</a>
  <button class="btn btn-primary pull-right" ng-click="saveEvento(evento)">Salvar</button>
</form>
